*{
	margin: 0;
	padding: 0;
	list-style: none;
}
img{
	border: none;
}
a{
	text-decoration: none;
	color: inherit;
}
body{
	min-width: 1200px;
}
.describe{
	font-size: 10px;
	margin-left: 5px;
	cursor: pointer;
}
.describe:hover{
	color: #ea1e5d !important;
	text-decoration: underline;
}
#top{
	width: 100%;
	height: 37px;
	border-bottom: 1px solid #e8e8e7;
	background: #f7f7f7;
	font-size: 13px;
	line-height: 37px;
	margin-bottom: 10px;
}
#top img{
	vertical-align: text-bottom;
}
#top_left{
	float: left;
	margin-right: 75px;
	margin-left: 9%;
}
#top_left b{
	color: red;
	font-size: 14px;
	font-family: "微软雅黑";
}
#top_center{
	float: left;
	position: relative;
}
#top_center a{
	text-decoration: none;
	color: black;
}
#top_center a:hover,#top_right li:hover{
	color: red;
	text-decoration: underline;
}
#top_right{
	float: right;
	margin-right: 9%;
}
#top_right img{
	float: left;
	margin-top: -2px;
}
#top_right li{
	float: left;
	line-height: 15px;
	margin:12px 0 0 10px;
}
#logo{
	width: 100%;
	height: 74px;
	margin-bottom: 15px;
}
#logo_left{
	float: left;
	margin-left: 9%;
	margin-right: 14%;
}
#logo_center{
	float: left;
	height: 34px;
	padding: 20px 0;
	margin: 0 auto;
}
#logo_center input[type="text"]{
	width: 310px;
	height: 33px;
	border: 1px solid #e91456;
	outline: none;
	padding-left: 10px;
	float: left;
}
#search{
	float: left;
	display: inline-block;
	height: 35px;
	background: #e21357;
	cursor: pointer;
}
#search i{
	display: inline-block;
	float: left;
	height: 35px;
	width: 25px;
	background: url(../img/search.png) no-repeat center right;
}
#search span{
	display: inline-block;
	width: 55px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 13px;
	float: left;
	color: white;
	font-weight: bold;
}
#search:hover{
	background: #cc1c23;
}
#logo_right{
	float: right;
	margin-right: 9%;
	padding-left: 43px;
	width: 115px;
	height: 28px;
	border: 1px solid #e8e8e7;
	margin-top: 22px;
	background: url(../img/cart.png) no-repeat center left;
	background-position-x: 25px;
	cursor: pointer;
}
#logo_right .red{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #ea1454;
	border-radius: 50%;
	color: white;
	text-align: center;
	line-height: 15px;
	font-size: 15px;
}
#logo_right .span2{
	font-size: 13px;
	line-height: 30px;
}
#nav{
	width: 100%;
	height: 35px;
	border-bottom: 2px solid #e91455;
	font-weight: bold;
	font-family: "黑体";
}
#nav_left{
	margin-left: 9%;
	float: left;
	width: 13.35%;
	height: 35px;
	padding-left: 0.7%;
	background: #e91456;
	color: white;
	font-size: 20px;
	line-height: 35px;
	cursor: pointer;
}
#nav_list{
	border: 1px solid #c9c9c9;
	float: left;
	width: 13.25%;
	padding-left: 0.7%;
	font-size: 12px;
	line-height: 30px;
	font-weight: normal;
	font-family: "宋体";
	position: absolute;
	left: 9%;
	top: 173px;
	background: white;
	display: none;
	z-index: 40;
}
#nav_list a:hover{
	color: #e91456;
	text-decoration: underline;
}
#nav_center{
	float: left;
	margin-left: 30px;
	line-height: 35px;
}
#nav_center li{
	float: left;
}
#nav_center span:hover{
	color: #e91456;
}
#nav_center li span{
	cursor: pointer;
	margin: 0 20px;
	font-size: 18px;
}
#nav_center li i{
	font-style: normal;
	font-size: 12px;
	font-weight: normal;
	color: #d5ccd5;
}
#nav_right{
	float: left;
	margin-left: 10%;
	font-size: 14px;
	line-height: 35px;
}
#goods{
	width: 82%;
	height: 522px;
	padding: 0 9%;
	margin-bottom: 20px;
}
#goods_path{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 13px;
	float: left;
}
#goods_path a{
	float: left;
}
#goods_path .path_1{
	font-size: 20px;
	font-weight: bold;
	font-family: "黑体";
}
#goods_path i{
	float: left;
	font-style: normal;
	margin: 0 10px;
}
#goods_details{
	width: 100%;
	height: 474px;
	position: relative;
}
#goods_details .details_bigimg{
	width: 36%;
	height: 400px;
	border: 1px solid #c9c9c9;
	float: left;
	margin-right: 1.8%;
	position: relative;
}
.details_bigimg img{
	width: 100%;
	height: 100%;
}
.details_bigimg .smallArea{
	width: 50%;
	height: 50%;
	background: rgba(200, 255, 200, 0.3);
	position: absolute; 
	left: 0; 
	top: 0;
	display: none;
}
.smallArea{
	display: none;
	left: 184px;
	top: 200px;
}
#goods_details .bigArea{
	overflow: hidden;
	width: 36%;
	height: 400px;  
	border: 1px solid #c9c9c9;
	position: absolute; 
	left: 37%; 
	top: 0;
	z-index: 10;
	display: none;
	background: white;
}
.bigArea .bigArea_bigImg{
	position: absolute;
	left: 0; 
	top: 0; 
	width: 200%; 
	height: 200%;
}
.bigArea{

}
#goods_details .details_information{
	float: left;
	width: 62%;
	position: relative;
	height: 400px;
}
.details_information .title{
	padding-top: 5px;
	width: 100%;
	height: 25px;
	margin-bottom: 20px;
}
.title i{
	float: left;
	font-style: normal;
	font-size: 12px;
	color: white;
	background: #bf0200;
	padding:5px;
	margin-right: 5px;
}
.title b{
	float: left;
	font-size: 22px;
}
.title span{
	float: right;
	font-size: 13px;
	line-height: 30px;
}
.details_information .price{
	width: 97%;
	height: 140px;
	padding-left: 3%;
	background: #eeeeee;
}
.price{
	font-size: 13px;
}
.price label{
	display: inline-block;
	width: 14%;
	float: left;
	line-height: 40px;
}
.price .price_top{
	width: 100%;
	height: 40px;
}
.price .price_top b{
	color: #bf0200;
	float: left;
	font-size: 18px;
}
.price .price_top b span{
	font-size: 30px;
	margin-left: 5px;
}
.price .price_center{
	width: 100%;
	height: 60px;
	line-height: 30px;
}
.price .price_center label{
	line-height: 30px;
}
.price .price_center .newline{
	display: block;
	margin-left: 14%;
}
.price .price_bottom{
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.details_information .standard{
	width: 97%;
	padding-left: 3%;
	height: 95px;
	border-bottom: 1px solid #e8e8e7;
}
.standard label,.standard table{
	float: left;
}
.standard label{
	font-size: 13px;
	width: 14%;
	line-height: 50px;
}
.standard table{
	border: 1px solid #d9d9d9;
	margin-top: 10px;
}
.standard table td{
	padding: 5px 10px;
	border: 1px solid #d9d9d9;
	font-size: 13px;
	cursor: pointer;
}
.standard .size{
	width: 100%;
	height: 50px;
	top: 10px;
	font-size: 13px;
	line-height: 50px
}
.standard .color{
	width: 100%;
	height: 45px;
	font-size: 13px;
	line-height: 50px
}
.standard .color table{
	margin-top: 5px;
}
.standard .color label{
	line-height: 45px;
}
.standard .click{
	background: #bf0200;
	color: white;
}
.details_information .number{
	width: 97%;
	padding-left: 3%;
	height: 50px;
}
.number label,.number span{
	display: inline-block;
	width: 14%;
	font-size: 13px;
	line-height: 50px;
}
.number label,.number input,.number div,.number span{
	float: left;
}
.number div{
	width: 3.75%;
	height: 25px;
	border-radius: 50%;
	background: #dddddd;
	text-align: center;
	line-height: 25px;
	font-size: 20px;
	color: #555555;
	font-family: "黑体";
	font-weight: bold;
	margin: 12px 0;
	cursor: pointer;
}
.number div:hover{
	background: #eeeeee;
}
.number input{
	width: 6.5%;
	height: 25px;
	border: 1px solid #a9a9a9;
	outline: none;
	margin: 12px 2%;
	text-align: center;
}
.settlement{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}
.settlement .btn1,.settlement .btn3{
	display: inline-block;
	width: 173px;
	height: 33px;
	border: 1px solid #d0d0d0;
	background: #f3f3f3;
	font-size: 15px;
	color: #333333;
	text-align: center;
	line-height: 33px;
	cursor: pointer;
}
.settlement .btn1:hover,.settlement .btn3:hover{
	background: #e7e7e7;
}
.settlement .btn2{
	display: inline-block;
	width: 160px;
	height: 35px;
	background: #e21357;
	font-size: 15px;
	color: white;
	text-align: center;
	line-height: 35px;
	margin: 0 5px;
	cursor: pointer;
}
.settlement .btn2:hover{
	background: #cc1c23;
}
.settlement .btn3{
	width: 58px;
}
#goods_details .details_smallImg{
	width: 100%;
	height: 66px;
	margin-top: 10px;
	float: left;
}
.details_smallImg img{
	width: 6%;
	height: 100%;
	border: 1px solid #c9c9c9;
	float: left;
	margin-right: 1.3%;
	cursor: pointer;
}
#share{
	width: 82%;
	padding: 0 9%;
	font-size: 13px;
}
#share a{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/icons_0_16.png);
	vertical-align: sub;
}
#share .weixin{
	background-position:0 -1612px;
}
#share .qq{
	background-position:0 -52px;
}
#share .sina{
	background-position:0 -104px;
}
#share .tenxun{
	background-position:0 -260px;
}
#share .genduo{
	background-position:0 0;
}
#collocation{
	width: 82%;
	padding: 0 9%;
	margin-top: 20px;
	margin-bottom: 15px;
}
#collocation span{
	display: block;
	width: 12.9%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	background: #eeeeee;
}
#collocation .collocation_all{
	width: 99.9%;
	height: 300px;
	border: 1px solid #e8e8e7;
}
.collocation_all .collocation_one{
	width: 16.55%;
	height: 255px;
	border: 1px solid #e8e8e7;
	float: left;
	position: relative;
	margin: 23px 0 0 2.7%;
}
.collocation_one img{
	width: 100%;
	height: 190px;
	cursor: pointer;
}
.collocation_one .collocation_describe{
	margin-left: 5px;
	margin-top: 10px;
	color: #444444;
	font-size: 12px;
}
.collocation_one .collocation_price{
	color: #e91456;
	position: absolute;
	left: 5px;
	bottom: 5px;
	font-size: 14px;
	font-weight: bold;
}
.collocation_one:hover{
	border: 1px solid #D2D2D2;
}
#parameter{
	width: 100%;
}
#parameter:after{
	content: '.';
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
#parameter_left{
	width: 13.35%;
	float: left;
	margin-left: 9%;
}
#RBrowse,#sell{
	width: 100%;
}
#RBrowse .browse,#sell .sell_p{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	background: #EEEEEE;
	border-bottom: 1px solid #DDDDDD;
}
#RBrowse .RBrowse_one,#sell .sell_one{
	width: 99.5%;
	height: 240px;
	border: 1px solid #e8e8e7;
	border-top: none;
	position: relative;
}
.RBrowse_one img,.sell_one img{
	width: 100%;
	height: 185px;
	cursor: pointer;
}
.RBrowse_one .RBrowse_describe,.sell_one .sell_describe{
	margin-left: 5px;
	margin-top: 5px;
	color: #444444;
	font-size: 12px;
	display: block;
}
.RBrowse_one .RBrowse_price,.sell_one .sell_price{
	color: #e91456;
	position: absolute;
	left: 5px;
	bottom: 2px;
	font-size: 14px;
	font-weight: bold;
}
#introduce{
	width: 67.8%;
	float: right;
	margin-right: 9%;
}
#introduce .intr_top{
	height: 40px;
}
#introduce .intr_top li{
	float: left;
	width: 20%;
	height: 40px;
	background: #eeeeee;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}
#introduce .intr_top li p{
	margin-left: 3%;
}
.intr_top #red{
	background: url(../img/red.png);
}
#introduce ul li i{
	display: inline-block;
	width: 100%;
	height: 12px;
	background: url(../img/gray.png) center no-repeat;
	background-size: cover;
}
#introduce .intr_bottom li{
	display: block;
	width: 99.9%;
	border: 1px solid #e8e8e7;
}
#introduce .intr_bottom li img{
	width: 100%;
}
#service{
	width: 100%;
	height: 225px;
	margin-top: 50px;
	padding-top: 10px;
	border-top: 2px solid #e91455;
	position: relative;
}
#service .service_top{
	margin:10px 5%;
	width: 90%;
	background: url(../img/foot_info.jpg) center no-repeat;
	height: 45px;
}
#service .service_bottom{
	width: 86%;
	height: 150px;
	padding: 0 7%;
}
#service .QRCode{
	width: 9.82%;
	height: 123px;
	background: url(../img/jlg_2d.jpg) center no-repeat;
	background-size: contain;
	float: left;
	margin-top: 15px;
	margin-right: 4%;
}
#service .service_list{
	width: 61.5%;
	height: 150px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	float: left;
}
.service_list dl{
	float: left;
	margin: 3px 0 3px 5%;
	line-height: 30px;
	width: 15%;
}
.service_list dl dd:hover,#bottom .bottom_link li:hover{
	text-decoration: underline;
}
.service_list dl dt{
	font-size: 15px;
	font-weight: bold;
	color: #444444;
}
.service_list dl dd{
	font-size: 12px;
	color: #444444;
}
#service .telephone{
	width: 20.8%;
	height: 60px;
	background: url(../img/call_rz.jpg) center no-repeat;
	background-size: contain;
	float: right;
	margin-top: 40px;
}
#bottom{
	width: 100%;
	height: 140px;
	background: #f8f8f8;
	text-align: center;
	font-size: 12px;
	padding-top: 10px;
}
#bottom .bottom_link{
	margin-left: 26%;
	display: table;
	margin-bottom: 10px;
}
#bottom .bottom_link li{
	float: left;
	padding:0 5px;
	border-right: 1px solid #444444;
	color: #444444;
}
#bottom p{
	color: #999999;
	margin-bottom: 5px;
}
#bottom .pic{
	display: block;
	margin-left: 48%;
	margin-bottom: 10px;
}
#bottom .bottom_security{
	width: 100%;
	height: 42px;
}
#bottom .bottom_security li{
	float: left;
	margin-right: 1.5%;
	width: 8.9%;
	height: 100%;
}
#bottom .bottom_security img{
	width: 100%;
	height: 100%;
}
#bottom .bottom_security .first{
	margin-left: 29.7%;
}
