*{
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
}
img{
	border: none;
}
a{
	text-decoration: none;
	color: inherit;
}
b{
	font-size: 15px;
	color: red;
}
body{
	min-width: 1200px;
}
#logo{
	width: 100%;
	height: 74px;
	margin-bottom: 40px;
	margin-top: 40px;
}
#logo_left{
	float: left;
	margin-left: 9%;
	margin-right: 1.5%;
}
#logo_center{
	float: left;
	width: 6%;
	font-size: 17px;
	font-family: "微软雅黑";
	color: #444444;
	border-left: 2px solid #c9c9cc;
	padding-left: 1%;
	margin-top: 28px;
	line-height: 20px;
}
#logo_right{
	float: right;
	margin-right: 9%;
	margin-top: 20px;
	font-size: 12px;
	padding: 5px;
	border: 1px solid #e5007f;
}
#logo_right a{
	color: #e91456;
}
#register{
	width: 82%;
	height: 380px;
	padding: 20px 9%;
	background: #f7f7f7;
}
.register_left{
	width: 32%;
	height: 335px;
	padding: 0 2%;
	background: white;
	float: left;
	padding-top: 45px;
}
.register_left .tishi{
	width: 74.7%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: red;
	margin-left: 24%;
	font-size: 15px;
	font-family: "微软雅黑";
	margin-bottom: 5px;
}
.register_left form p{
	font-size: 13px;
	margin-bottom: 20px;
}
.register_left form p label{
	display: inline-block;
	width: 22%;
}
.register_left form p input{
	width: 72.5%;
	height: 30px;
	padding-left: 5px;
	border: 1px solid #a9a9a9;
}
.register_left form .checkBox{
	margin-top: 30px;
	margin-bottom: 10px;
}
.register_left form .checkBox input{
	width: auto;
	height: auto;
	border: 1px solid black;
	vertical-align: text-bottom;
	margin-left: 24%;
}
.register_left form .checkBox label{
	width: auto;
	height: auto;
	margin-left: -5px;
}
.register_left form input[type="submit"]{
	width: 72.5%;
	height: 30px;
	color: white;
	background: #e21357;
	border: none;
	cursor: pointer;
	font-size: 15px;
	font-family: "微软雅黑";
	margin-left: 24%;
}
.register_left form input[type="submit"]:hover{
	background: #cc1c23;
}
.register_left form .change{
	margin-left: 24%;
	margin-top: 10px;
}
.register_left form .change a{
	color: #ff0000;
}
.register_left form #noclick{
	background: #BEBEBE;
}
.register_right img{
	width: 64%;
	height: 380px;
	float: left;
}
#service{
	width: 100%;
	height: 225px;
	margin-top: 50px;
	padding-top: 10px;
	border-top: 2px solid #e91455;
	position: relative;
}
#service .service_top{
	margin:10px 5%;
	width: 90%;
	background: url(../img/foot_info.jpg) center no-repeat;
	height: 45px;
}
#service .service_bottom{
	width: 86%;
	height: 150px;
	padding: 0 7%;
}
#service .QRCode{
	width: 9.82%;
	height: 123px;
	background: url(../img/jlg_2d.jpg) center no-repeat;
	background-size: contain;
	float: left;
	margin-top: 15px;
	margin-right: 4%;
}
#service .service_list{
	width: 61.5%;
	height: 150px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	float: left;
}
.service_list dl{
	float: left;
	margin: 3px 0 3px 5%;
	line-height: 30px;
	width: 15%;
}
.service_list dl dd:hover,#bottom .bottom_link li:hover{
	text-decoration: underline;
}
.service_list dl dt{
	font-size: 15px;
	font-weight: bold;
	color: #444444;
}
.service_list dl dd{
	font-size: 12px;
	color: #444444;
}
#service .telephone{
	width: 20.8%;
	height: 60px;
	background: url(../img/call_rz.jpg) center no-repeat;
	background-size: contain;
	float: right;
	margin-top: 40px;
}
#bottom{
	width: 100%;
	height: 140px;
	background: #f8f8f8;
	text-align: center;
	font-size: 12px;
	padding-top: 10px;
}
#bottom .bottom_link{
	margin-left: 26%;
	display: table;
	margin-bottom: 10px;
}
#bottom .bottom_link li{
	float: left;
	padding:0 5px;
	border-right: 1px solid #444444;
	color: #444444;
}
#bottom p{
	color: #999999;
	margin-bottom: 5px;
}
#bottom .pic{
	display: block;
	margin-left: 48%;
	margin-bottom: 10px;
}
#bottom .bottom_security{
	width: 100%;
	height: 42px;
}
#bottom .bottom_security li{
	float: left;
	margin-right: 1.5%;
	width: 8.9%;
	height: 100%;
}
#bottom .bottom_security img{
	width: 100%;
	height: 100%;
}
#bottom .bottom_security .first{
	margin-left: 29.7%;
}