{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>用户注册</title>
		<link rel="shortcut icon" href="{% static '/img/title.ico' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static '/css/register.css' %}"/>
{#        <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">#}
{#        <link rel="stylesheet" href="{% static '/css/swiper.css' %}">#}
		<script src="{% static '/js/jquery-1.12.0.js' %}"></script>
		<script src="{% static '/js/jquery.cookie.js' %}"></script>
        <script src="{% static '/js/bootstrap.js' %}"></script>
        <script src="{% static '/js/swiper.js' %}"></script>
{#		<script src="{% static '/js/register.js' %}"></script>#}
        <script src="{% static 'js/myregister.js' %}"></script>

	</head>
	<body>
        <div id="logo">
			<div id="logo_left">
				<a href="{% url 'App:index' %}"><img src="{% static '/img/ladygood.png' %}"></a>
			</div>
			<div id="logo_center">欢迎注册</div>
			<div id="logo_right">
				<span>已有账号</span>
				<a href="{% url 'App:entry' %}">直接登录</a>
			</div>
		</div>
		<div id="register">
			<div class="register_left">
				<p class="tishi"></p>
				<form class="tel" method="post">
                    {% csrf_token %}
                    <p>
{#                        <label>*用 户 名：</label>#}
{#                        <input type="text" placeholder="输入手机号" name="username">#}

                        <div class="form-group" id="account">
                            <label class="control-label sr-only" for="inputSuccess5">*用 户 名：</label>
                            <input type="text" class="form-control" id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="输入手机号" name="username"> <b></b>
                        </div>
                    </p>
					<p>
{#						<label>*设置密码：</label>#}
{#						<input type="password" placeholder="创建密码" name="password">#}
                        <div class="form-group" id="passwd">
                            <label class="control-label sr-only" for="inputSuccess5">*设置密码：</label>
                            <input type="password" class="form-control" id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="创建密码" name="password"> <b></b>
                        </div>
					</p>
					<p>
{#						<label>*确认密码：</label>#}
{#						<input type="password" placeholder="确认密码">#}

                        <div class="form-group" id="ispasswd">
                            <label class="control-label sr-only" for="inputSuccess5">*设置密码：</label>
                            <input type="password" class="form-control" id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="确定密码"> <b></b>
                        </div>
					</p>
					<p class="checkBox">
						<input type="checkbox" id="check" checked="checked">
						<label for="check">我已阅读并同意《嘉丽购物网服务条款》</label>
					</p>
					<input type="submit" value="注册">
				</form>
			</div>
			<div class="register_right">
				<img src="{% static '/img/zhuce.png' %}">
			</div>
		</div>
		<div id="service">
			<div class="service_top"></div>
			<div class="service_bottom">
				<div class="QRCode"></div>
				<div class="service_list">
					<dl>
						<dt>购物指南</dt>
						<a href="#"><dd>新用户注册/激活</dd></a>
						<a href="#"><dd>如何订购</dd></a>
						<a href="#"><dd>常见问题</dd></a>
					</dl>
					<dl>
						<dt>会员中心</dt>
						<a href="#"><dd>会员权益</dd></a>
						<a href="#"><dd>美丽积分</dd></a>
						<a href="#"><dd>订单查询</dd></a>
						<a href="#"><dd>找回密码</dd></a>
					</dl>
					<dl>
						<dt>配送服务</dt>
						<a href="#"><dd>物流跟踪</dd></a>
						<a href="#"><dd>免运费政策</dd></a>
					</dl>
					<dl>
						<dt>支付说明</dt>
						<a href="#"><dd>货到付款</dd></a>
						<a href="#"><dd>在线支付</dd></a>
					</dl>
					<dl>
						<dt>售后服务</dt>
						<a href="#"><dd>退换货政策</dd></a>
						<a href="#"><dd>退换货流程</dd></a>
						<a href="#"><dd>安全与保密</dd></a>
					</dl>
				</div>
				<div class="telephone"></div>
			</div>
		</div>
		<div id="bottom">
			<ul class="bottom_link">
				<li><a href="#">商城首页</a></li>
				<li><a href="#">官网首页</a></li>
				<li><a href="#">供应商登录</a></li>
				<li><a href="#">供货联系</a></li>
				<li><a href="#">收藏我们</a></li>
				<li><a href="#">公司简介</a></li>
				<li><a href="#">媒体报道</a></li>
				<li><a href="#">嘉丽购招聘</a></li>
				<li><a href="#">官方微博</a></li>
				<li style="border-right: none;"><a href="#">合作网站：范游网</a></li>
			</ul>
			<p>嘉丽购物有限责任公司 Copyright 2010-2014 jialigou.All Rights Reserved</p>
			<p>国家广电总局批号：广局[2010] 278号湘ICP备10203162号-3</p>
			<a href="#"><img src="{% static '/img/pic.gif' %}" title="站长统计" class="pic"></a>
			<ul class="bottom_security">
				<li class="first"><img src="{% static '/img/kx.jpg' %}"></li>
				<li><a href="#"><img src="{% static '/img/360.jpg' %}"></a></li>
				<li><img src="{% static '/img/alipay_s.gif' %}"></li>
				<li><a href="#"><img src="{% static '/img/hn110_s.gif' %}"></a></li>
			</ul>
		</div>
    </body>
</html>
